<nav class="navbar">
  <div class="nav-left">
    <span class="brand">Passenger Management System</span>
  </div>

<div class="nav-center" *ngIf="auth.isAuthenticated()">
    <a *ngIf="auth.isAdmin()" routerLink="/create" routerLinkActive="active">Create</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a *ngIf="auth.isAdmin()" routerLink="/update" routerLinkActive="active">Update</a>
    <a *ngIf="auth.isAdmin()" routerLink="/delete" routerLinkActive="active">Delete</a>
    <a routerLink="/list" routerLinkActive="active">List</a>
  </div>


  <div class="nav-right">
    <ng-container *ngIf="auth.isAuthenticated(); else guestLinks">
      <button class="logout-btn" (click)="logout()">Logout</button>
    </ng-container>
  </div>

  <ng-template #guestLinks>
    <a routerLink="/">Login</a>
  </ng-template>
</nav>
