<h2>Search Passenger</h2>

<!-- Injection Fix: Input restricted to numbers only -->

<input [(ngModel)]="passengerId" type="number" placeholder="Passenger ID" />
<button (click)="search()">Search</button>

<p *ngIf="message" class="error">{{ message }}</p>

<!-- issue fixed: Angular interpolation automatically escapes malicious content -->
<div *ngIf="passenger">
  <h3>Passenger Details</h3>
  <table>
    <tr><th>ID</th><td>{{ passenger.PassengerId }}</td></tr>
    <tr><th>Full Name</th><td>{{ passenger.FullName }}</td></tr>
    <tr><th>Passport</th><td>{{ passenger.PassportNumber }}</td></tr>
    <tr><th>Visa Type</th><td>{{ passenger.VisaType }}</td></tr>
    <tr><th>Nationality</th><td>{{ passenger.Nationality }}</td></tr>
    <tr><th>Arrival Date</th><td>{{ passenger.ArrivalDate }}</td></tr>
    <tr><th>Arrival Year</th><td>{{ passenger.ArrivalYear }}</td></tr>
    <tr><th>Purpose Of Visit</th><td>{{ passenger.PurposeOfVisit }}</td></tr>
    <tr><th>Officer ID</th><td>{{ passenger.OfficerId }}</td></tr>
  </table>
</div>
